@model train_tickets_system.Models.IndexViewModel
@{
    ViewBag.Title = "User Control Panel";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Booked tickets:</dt>
 
        @if (Model.BookedTrips.Count != 0)
        {
        <table class="table">
            @foreach (var item in Model.BookedTrips)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TripId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainRefId)
                    </td>
                    @foreach (var seat in Model.userReservations)
                    {
                        if (seat.TripRefId == item.TripId)
                        {
                            <td>@seat.Seats</td>
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Route.InitialCity.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Route.TargetCity.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalTime)
                    </td>
                    <td>
                         @foreach (var seat in Model.userReservations)
                         {
                             if (seat.TripRefId == item.TripId)
                             {
                                @Html.ActionLink("Cancel Reservation", "DeleteReservation", new { id = seat.ReservationId })
                                @Html.ActionLink("Resend Confirmation", "SendConfirmation", new { id = seat.ReservationId })
                             }
                         }
                    </td>
                </tr>
            }
        </table>
        }

        else
        {
            <dd>@Html.Raw("You don't have any booked tickets.")</dd>
        }

    </dl>

      @*</dd>
    </dl>*@
</div>
