@model IEnumerable<train_tickets_system.Models.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TripId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TripId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TripId })
        </td>
    </tr>
}

</table>
