@model IEnumerable<train_tickets_system.Models.Trip>

@{
    ViewBag.Title = "Trips";
}

<h2>Available Trips</h2>

@if (Model.Count() == 0)
{
    <h4>
        We're sorry, there are no available trips for this day. <br />
        You can @Html.ActionLink("search", "Search") for a new trip.
    </h4>
}
else
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Depart")
            </th>

            <th>
                @Html.DisplayName("Arrive")
            </th>

            <th>
                Free Seats
            </th>

            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var economySeats = item.Train.econimicSeats;
            var businessSeats = item.Train.businessSeats;
            int freeEconomySeats;
            int freeBusinessSeats;

            if (item.SeatsTaken == null)
            {
                freeEconomySeats = economySeats;
                freeBusinessSeats = businessSeats;
            }
            else
            {
                freeEconomySeats = economySeats - item.SeatsTaken.SeatsEconomical;
                freeBusinessSeats = economySeats - item.SeatsTaken.SeatsBusiness;
            }

            <tr>
                <td>
                    @item.DepartureTime.ToShortDateString(), @item.DepartureTime.ToShortTimeString()
                </td>

                <td>
                    @item.ArrivalTime.ToShortDateString(), @item.ArrivalTime.ToShortTimeString()
                </td>

                <td>
                    @freeEconomySeats | @freeBusinessSeats
                </td>

                <td>
                    @using (Html.BeginForm("Book", "Ticket", new { id = item.TripId }, FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary">BOOK A TICKET</button>
                    }
                </td>
            </tr>
        }
    </table>
}

